*{
    box-sizing: border-box;
}

html { 
    background: url(../media/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255); 
    text-align: center;
    line-height: 1.5;
    
}

.nav{
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    display:inline-block;
    margin:0;
    padding:0;
}

header{
    width:100vw;
    display: inline-block;
    margin:0;
    padding:0;

}

.headshot{
    border-radius: 50%;
    max-width: 10vw;
    z-index:10;
    border:black, 5px, solid; 
}

.photo{
    width: 20vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 0;
    float: left;
}

.hamburger-container{
    width: 5vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    right: 30px;
    top: 5px;
    float: right;
}

.head-name{
    min-width: 60vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: right;
    position: relative;
    right: -15px;
    bottom: -8px;
}

.title-container{
    background-color:black;
    
    width:100vw;
    display:inline-block;
}


h1{
    font-size:1rem;
    font-weight:lighter;
    text-align:center;
    
}

h2, h3{
    
    font-weight:100;
}

.border{
    width:70vw;
    border-bottom:.5px solid black;
    margin-left:auto;
    margin-right:auto;
}

.top{
    padding-top:40px;
}

.first, .second, .third{
    margin-top:50px;
    margin-bottom:50px;
    padding:30px;
    padding-bottom:100px
}

.second{
    margin-bottom:50px;
}

/* .first{
    padding:30px;
} */

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.bar1.change{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change.bar2 {opacity: 0;}
  
.change.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hide{
    margin-top: -300px;
}

#menu-items{
    position: fixed;
    right:0px;
    text-align: left;
    list-style: none;
    z-index:2;
    background: black;
    /* width:20vw; */
    color: white;
    /* padding-top: 1.9em; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, .0), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#menu-items ul{ 
    margin: none !important;
}

#menu-items li{ 
    margin: none !important;
}

#menu-items li a{
    border-style: solid;
    border-top:  solid rgb(43, 149, 190);
    border-left-style: none;
    border-bottom: none;
    display:inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    color: white;
    text-decoration:none;
    font-size:.65em;
}


.text-bg{
    background-color:rgba(0, 0, 0, 0.3);
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
    
}

footer{
    background-color:black;
    color:white;
}

@media screen and (min-width: 400px) {
    body {
      background-color: lightgreen;
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  }