*{
    box-sizing: border-box;
}

html { 
    background: url(../media/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

body{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255); 
    text-align: center;
    line-height: 1.5;
    background-color:rgba(0, 0, 0, 0.3);
    max-width:100vw;
}

.nav{
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    display:inline-block;
    margin:0;
    padding:0;
    
}

header{
    width:100vw;
    display: inline-block;
    margin:0;
    padding:0;

}

.headshot{
    border-radius: 50%;
    max-width: 10vw;
    z-index:10;
    border:black, 5px, solid; 
}

.photo{
    width: 20vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 0;
    float: left;
}

.hamburger-container{
    width: 5vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    right: 30px;
    top: 5px;
    float: right;
}

.head-name{
    min-width: 60vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: right;
    position: relative;
    right: -1px;
    bottom: -8px;
    font-size:20px;
    color:rgb(43, 149, 190);
}

.title-container{
    background-color:black;
    max-height:12vw;
    width:100vw;
    display:inline-block;
}


h1{
    font-size:1rem;
    font-weight:lighter;
    text-align:center;
    
}

h2, h3{
    
    font-weight:100;
}

.border{
    width:70vw;
    border-bottom:.5px solid black;
    margin-left:auto;
    margin-right:auto;
}

.top{
    padding-top:10px;
}

 .third{
    margin-top:0px;
    margin-bottom:50px;
    padding-top:0px;
    padding-bottom:100px
}

.second{
    margin-bottom:50px;
    margin-left:0;
}

.first{
    margin-top:15px;
    margin-bottom:10px;
    padding-bottom:20px;
    padding-top:20px
}

.intro .second p{
    text-align:left;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.intro{
    padding-top:8vh;
    padding-bottom:20px;
    color:white;
    margin-left:auto;
    margin-right:auto;
    width: 90vw;
    text-align:center;
}

.intro p{
    background-color:black;
    color:white;
    font-weight: lighter
}
.bar1.change{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change.bar2 {opacity: 0;}
  
.change.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hide{
    margin-top: -450px;
}

.symbol{
    width:15px;
    height:15px;
}

.top{
    font-size: 14px;
    
}

.top a{
    text-decoration:none;
    color:white;
}

#menu-items{
    position: fixed;
    right:0px;
    text-align: right;
    list-style: none;
    z-index:2;
    background: black;
    /* width:20vw; */
    color: white;
    padding-top: 2vh; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, .0), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#menu-items ul{ 
    margin: none !important;
}

#menu-items li{ 
    margin: none !important;
}

#menu-items li a{
    border-style: solid;
    border-top:  solid rgb(43, 149, 190);
    border-left-style: none;
    border-bottom: none;
    display:inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    color: white;
    text-decoration:none;
    font-size:.65em;
}


.text-bg{
    /* background-color:rgba(0, 0, 0, 0.3); */
    width:100vw;
    /* margin-left:0;
    margin-right:0; */
    margin-top:50px;
    padding-left:0;
}

.intro p{
    margin-left:0;
}

/* .first.border h2{
    
} */
.center{
    text-align:center;
    margin-left:auto;
    margin-right: auto;
}
.text{
    text-align:left;
    background-color: rgba(255, 255, 255, 1);
    width:98vw; 
    padding-left:0;
    margin-left:0;
    height: 80vh;
    overflow:scroll;
    color:black
    
}

.bio {margin-left:0;
margin-right:auto;
padding-left:0;
width:90vw;
text-align:left;
padding-bottom:10px
    
}

.project{
    
    color: white;
    background-color:black
}

.project-description{
    text-align:left;
    background-color:rgba(0, 0, 0, 0.6)
}

.project a:visited{
    text-decoration:none;
    color:rgb(164, 246, 246);
}

.proj-img{
    width:30vw;
    height:30vh;
    float:right;
    max-width:125px;
    
}
footer{
    background-color:black;
    color:white;
}


@media screen and (min-width: 400px) {
    body {
      display:flex;
    }

    h1{
        font-size:30px;
    }

    .menu-icon{
        display: none;
    }

    #menu-items{
        display:flex;
    }

    .first{
        padding-top:50px;
    }

    .text{
        width:90vw;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        overflow:auto;
    }

    .bio{
        height:auto
    }

    .head-name{
        float:right;
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
      
    }
  }