*{
    box-sizing: border-box;
}

html { 
    background: url(../media/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

body{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255); 
    line-height: 1.5;
    background-color:rgba(0, 0, 0, 0.3);
    width: 100vw;
}

.nav{
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    display:inline-block;
    margin:0;
    padding:0;
    
}

header{
    width:100vw;
    display: inline-block;
    margin:0;
    padding:0;

}
.hamburger-container{
    width: 5vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    right: 30px;
    top: 5px;
    float: right;
}

.head-name{
    min-width: 60vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: right;
    font-size:20px;
    color:rgb(43, 149, 190);
}

.title-container{
    background-color:black;
    max-height:12vw;
    min-height: 40px;
    width:100vw;
    display:inline-block;
}


h1{
    font-size:1rem;
    font-weight:lighter;
    text-align:center;
    
}

h2, h3{
    
    font-weight:100;
}

.border{
    width:auto;
    border-bottom:.5px solid black;
    margin-left:auto;
    margin-right:auto;
}

.top{
    padding-top:10px;
}

 .third{
    margin-top:0px;
    padding-top:0px;
    padding-bottom:100px
}

.second{
    margin-bottom:50px;
    margin-left:0;
}

.first{
    margin-top:15px;
    margin-bottom:10px;
    padding-bottom:20px;
    padding-top:20px
}

.intro .second p{
    text-align:left;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.intro{
    padding-top:10vh;
    padding-bottom:6vh;
    color:white;
    margin-left:auto;
    margin-right:auto;
    width: 90vw;
    text-align:center;
}

.intro p{
    background-color:black;
    color:white;
    font-weight: lighter;
    /* margin-top:4vh; */
}
.bar1.change{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change.bar2 {opacity: 0;}
  
.change.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hide{
    margin-top: -450px;
}

.symbol{
    width:15px;
    height:15px;
}

.top{
    font-size: 14px;
    
}

.top a{
    text-decoration:none;
    color:white;
}

#menu-items{
    position: fixed;
    right:0px;
    top:20px;
    text-align: right;
    list-style: none;
    z-index:2;
    background: black;
    /* width:20vw; */
    color: white;
    padding-top: 2vh; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, .0), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.bottom{
    margin-bottom:5vh;
    margin-top:5vh;
    color: black;
    background-color: rgb(43, 149, 190);
    width: 100%;
}

#menu-items ul{ 
    margin: none !important;
}

#menu-items li{ 
    margin: none !important;
}

#menu-items li a{
    border-style: solid;
    border-top:  solid rgb(43, 149, 190);
    border-left-style: none;
    border-bottom: none;
    display:inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    color: white;
    text-decoration:none;
    font-size:.65em;
}


.text-bg{
    width:100vw;
    margin-top:50px;
    padding-left:0;
}

.center{
    text-align:center;
    margin-left:auto;
    margin-right: auto;
}
.text{
    text-align:left;
    background-color: rgba(255, 255, 255, 1);
    width:98vw; 
    /* padding-left:0; */
    margin-left:auto;
    margin-right:auto;
    height: auto;
    color:black
    
}

.bio {margin-left:0;
margin-right:auto;
padding:20px;
width:90vw;
text-align:left;
padding-bottom:10px
    
}

.project{
    margin: 50px;
    color: white;
    background-color:black;
    text-align:center;
    width:100%;
    margin-left:auto;
    margin-right:auto

}





.project-description{
    width:88vw;
    background-color:rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-bottom:20px;
}
.project a{
    text-decoration:none;
    color:rgb(43, 149, 190)
}

.project a:visited{
    text-decoration:none;
    color:rgb(164, 246, 246);
}

.proj-img{
    width:auto;
    height:auto;
    max-width:270px;
    max-height:340;
    
}
footer{
    background-color:black;
    color:white;
}

.space{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding-top:3vh;
    align-items: center;
}

.symbol{
    width:20px;
    height:20px;
}

@media screen and (min-width: 500px) {
    
    .space{
        display:flex;
        flex-direction:row;
        justify-content: space-around
    }

    .intro{
        margin-top:8vh;
    }

    intro p {
        margin-top: 10vh;
        margin-bottom: 8vh;
    }

    h1{
        font-size:30px;
        position:relative;
        left:5vw;
    }

    .head-name{
        min-width:auto;
    } 

    .title-container{
        text-align: left;
        min-height: 86px;
    }
    .menu-icon{
        display: none;
    }

    #menu-items{
        display: flex;
        top: 438px;
        right: 15px;
        width: 24vw;
        border: none;
        text-align: center
    }

    .first{
        padding-top:50px;
    }

    .text{
        width:90vw;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        
    }

    .bio{
        height:auto;
        
    }

    #menu-items li {
        margin: none !important;
        width: 10vw;
    }
   
    .first{
        padding-top:150px;
        padding-bottom:100px;
    }

    .symbol{
        width:30px;
        height:30px;
    }
    
  }
  
  @media screen and (min-width: 800px) {
    body {
      
    }
  }